html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  background-image: url("../images/leaves-pattern.svg");
  border-bottom: 3px solid #2d5a4d;
  border-top: 3px solid #2d5a4d;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {

}

.banner {

}

.banner-content {

}

h1 {
  color: #fff;
}

.btn {
  background-color: #588477;
  border: 3px solid #2d5a4d;
  border-radius: 8px;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
